h1{
    text-align: center;
    background-color: mediumslateblue;
    padding: 60px;
    font-size: 50px;
    border-radius: 10px;
    
  }
  h3{
    text-align: left;
    padding-top: 20px;
    font-size: 20px;
    margin-left: 6px;
  }
  body{
    background-color: skyblue;
    text-align: justify;

  }
  .boxes{
    display: flex;
    flex-direction: row;
  }
  #converter{
    border-radius: 10px;
    margin: 5px 5px 5px 5px;
    border: 0px;
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    background-color: white;
  }

#in, #result{
    border-radius: 10px;
    margin: 5px 5px 5px 5px;
    border: 0px;
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    background-color: white;
  }

  #button{
    background-color: red;
    text-align: justify;
    border-radius: 10px;
    margin-top: 25px;
    border: 0px;
    cursor: pointer;
    margin-left: 6px;
    padding: 6px;
  }

  #help, #feedback{
    color: blue;
  }

  #helpd{
    margin-top: 17%;
    margin-left: 90%;
  }
